Flask
gunicorn
psycopg2-binary>=2.9
pydantic
python-dotenv
requests
sqlalchemy
Pillow
numpy
opencv-python-headless
pathlib
fastapi
uvicorn
scipy
pdf2image
tqdm
streamlit
torch
transformers