-i https://pypi.tuna.tsinghua.edu.cn/simple

# Web framework
fastapi
uvicorn[standard]
python-multipart

# Database
sqlalchemy
psycopg2-binary
pydantic-settings

# OCR и обработка изображений
pillow
pytesseract
python-dotenv
pdf2image
scipy
numpy
opencv-python-headless
python-docx

torch
torchvision
transformers

# Дополнительные инструменты
scikit-image
tqdm
